<div class="sign">
  <div class="container">
    <div class="row">
      <div class='mx-auto'>
        <h1 class="field-h">Sign up</h1>

          <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
          <div class="error"><%= render "devise/shared/error_messages", resource: resource %></div>

          <div class="field">
            <%= f.label :name %><br />
            <%= f.text_field :name, autofocus: true %>
          </div>

          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>

          <div class="field">
            <%= f.label :password %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password" %>
          </div>

          <div class="field">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
          </div>

          <div class="actions">
            <%= f.submit "Sign up", class: "btn btn-info btn-sm btn-block mb-3 sign_in log-in-btn"  %>
          </div>
          <% end %>
        <div class="actions">
        <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
    <%= render "layouts/fotter" %>
  </div>
</div>
