<div class="profile-table">
    <div><%= attachment_image_tag(user, :profile_image, :fill, 250, 250, fallback: "no_image.jpg") %></div>

        <div class="profile">Name</div>
            <div class="profile-detail"><%= user.name %></div>
        <div class="profile">Introduction</div>
            <div class="profile-detail"><%= user.introduction %></div>
        <div class="profile">Follows</div>
            <div class="profile-detail"><%= link_to user.followings.count, user_followings_path(user) %></div>
        <div class="profile">Followers</div>
            <div class="profile-detail"><%= link_to user.followers.count, user_followers_path(user) %></div>

        <div><%= render 'relationships/follow', user: user %></div><br>

    <div>
        <%= link_to edit_user_path(user), class: "btn btn-outline-secondary btn-block" do %>
         <i class="fas fa-user-cog"></i>
        <% end %>
    </div>
</div>