<div class="search-position">
    <% if user_signed_in? %>
     <%= render 'layouts/searchform' %>
    <% end %>
   </div>
   <h1 class="main-font">Posse</h1>
   <div class="tbl-r04">
    <table class="table">
     <tr class="thead">
       <th class="borderline"></th>
       <th class="main-sub-font">Name</th>
       <th class="borderline"></th>
       <th class="main-sub-font">Relationships</th>
       <th class="borderline"></th>
       <th class="borderline"></th>
     </tr>
     <tr>
      <% users.each do |user| %>
       <td><%= attachment_image_tag user, :profile_image, :fill, 50, 50, format:'jpeg', fallback: "no_image.jpg", size:'50x50' %></td>
       <td><%= user.name %></td>
       <td id="numeration"><p>following : <%= link_to user.followings.count, user_followings_path(user) %></p></td>
       <td id="numerations"><p>followers : <%= link_to user.followers.count, user_followers_path(user) %></p></td>
       <td>
        <div id="follows_<%= user.id %>">
         <%= render 'relationships/follow', user: user %>
        </div>
       </td>
       <td class="link-show"><%= link_to "Show", user_path(user.id) %></td>
     </tr>
     <% end %>
     <%= paginate users %>
   </table>
  </div>