<div class="playlist-body">
<!--<p id="notice">-->
<!-- <%#=  notice %>-->
<div class="container">
 <div class="row">
  <div class="col-md-3">
   <h1 class="info-font">Candy info</h1>
   <%= render 'users/profile', user: @user %>
   <h2 class="link-new"><%= link_to "New playlist", new_playlist_path %></h2>
  </div>

  <div class="col-md-8 offset-md-1">
   <h1 class="main-user-show-font">Playlists</h1>
    <table class="table">
     <thead>
      <th></th>
      <th class="main-sub-font">Playlist Name</th>
      <th class="main-sub-font">Information</th>
      <th></th>
      <th></th>
    </thead>
    <tbody>
     <% @playlists.each do |playlist| %>
     <tr>
       <td>
        <%= link_to user_path(playlist.id) do %>
        <%= attachment_image_tag playlist.user, :profile_image, :fill, 40, 40, format:'jpeg', fallback: "no_image.jpg" %>
        <% end %>
       <br></td>
       <td><%= playlist.name %></td>
       <td><%= playlist.information %></td>
       <td class="link-show"><%= link_to "Deets", playlist_path(playlist.id) %></td>

       <td><i class="far fa-comment"></i>: <%= playlist.playlist_comments.count %></td>

     </tr>
    <% end %>
    </tbody>
   </table>
  </div>
 </div>
 <%= render "layouts/fotter" %>
</div>
</div>