<div class="playlist-body">
  <div class="container">
    <div class="row">
      <div class="mx-auto">
        <div class="error">
          <% if @song.errors.any? %>
            <h3><%= @song.errors.count %>prohibited this obj from being saved:</h3>
              <ul>
                <% @song.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
          <% end %>
        </div>

      <h1 class="user-info-edit">Add tune</h1>

      <%= form_with model: [@playlist, @song], local:true do |f| %>

        <p class="user-edit-field">Artist</p>
        <p class="user-edit-field"><%= f.text_field :artist %></p><br>
        <p class="user-edit-field">Tune</p>
        <p class="user-edit-field"><%= f.text_field :tune %></p><br>
        <p class="user-edit-field">Deets</p>
        <p class="user-edit-field"><%= f.text_area :detail, size: "30x5" %></p><br>

        <p class="user-edit-btn"><%= f.submit "New add", class:"btn btn-success btn-lg" %></p><br>
      <% end %>

      </div>
    </div>
  <%= render "layouts/fotter" %>
  </div>
</div>