<table class="table">
  <% playlist_comments.each do |playlist_comment| %>
    <tr>
      <td>
        <%= link_to (playlist_comment.user) do %>
        <%= attachment_image_tag(playlist_comment.user, :profile_image, :fill, 40, 40, fallback: "no_image.jpg") %>
        <%= playlist_comment.user.name %>
        <% end %>
      </td>

      <td>
        <%= playlist_comment.comment %>
      </td>

      <td>
        <% if playlist_comment.user_id == current_user.id %>
          <%= link_to "Destroy", playlist_playlist_comment_path(playlist_comment, playlist_comment.playlist), method: :delete, remote: true, class: "btn-sm btn-danger" %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>