<div class="top-body">
 <div id="notice">
  <%=  notice %>
 </div>
 <div class="container">
  <div class="row">
   <div class='mx-auto'>
     <div class="font-color">
      <p class="top"><%= image_tag('slacky1.jpg',:size =>'250x250') %></p>
      <p class="top"><i class="fas fa-compact-disc"></i>Dig + <i class="fas fa-compress-arrows-alt"></i>gather = Digather</p>
     </div>
    <div class = "move-login">
     <%= link_to "Log in", new_user_session_path, class: "btn btn-success btn-sm btn-block mb-3 sign_in log-in-btn" %>
    </div><br>
   <div class = "move-signup">
    <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-info btn-sm btn-block mb-3 sign_in log-in-btn" %>
   </div><br>
   <div class = "move-signup">
    <%= link_to "Guest log in",homes_guest_sign_in_path, method: :post, class: "btn btn-warning btn-sm btn-block sign_up log-in-btn" %>
   </div>
  </div>
 </div>
  <%= render "layouts/fotter" %>
 </div>
</div>