<div class="container">
 <div class="row">
  <div class="mx-auto">
   <h1>Editing playlist</h1>
    <%= form_with model:@playlist, local:true do |f| %>
    <% if @playlist.errors.any? %>
       <h3><%= @playlist.errors.count %>errors prohibited this obj from being saved:</h3>
        <ul>
         <% @playlist.errors.full_messages.each do |message| %>
          <li><%= message %></li>
         <% end %>
        </ul>
     <% end %>
    <p>Artist</p>
     <%= f.text_field :artist %>
    <p>Tune</p>
    <%= f.text_field :tune %><br>
    <p>Information</p>
     <%= f.text_area :information %><br>
     <%= f.submit 'Update Playlist', class:"btn btn-success w-178px" %><br>
    <td><%= link_to "Show", playlist_path %></td>
    <td>|</td>
    <td><%= link_to "Back", playlists_path %></td>
    <% end %>
  </div>
 </div>
</div>