<div class="playlist-body">
<div class="container">
 <div class="row">
  <div class="col-md-3">
   <h1>Candy info</h1>
   <%= render 'users/profile', user: current_user %>
   <h2><%= link_to "New playlist", new_playlist_path %></h2>
  </div>

   <div class="col-md-8 offset-md-1">
    
      <% if user_signed_in? %>
            <%= render 'layouts/searchform' %>
      <% end %>

    <h1>Playlists</h1>
     <table class="table">
      <thead>
       <th></th>
       <th>Playlist Name</th>
       <th>Information</th>
       <th>Reaction</th>
       <th></th>
      </thead>
      <tbody>
    <% @playlist_ranking.each do |playlist| %>
     <tr>
       <td>
        <%= link_to user_path(playlist.id) do %>
        <%= attachment_image_tag playlist.user, :profile_image, :fill, 40, 40, format:'jpeg', fallback: "no_image.jpg" %>
        <% end %>
       <br></td>
       <td>
        <%= link_to playlist.name, playlist_path(playlist.id) %>
        </td>
       <td><%= playlist.information %></td>

       <td>
        <div id="playlists_<%= playlist.id %>">
         <%= render 'favorites/favorite', playlist: playlist %>
        </div>
       </td>

       <td>comments: <%= playlist.playlist_comments.count %></td>



     </tr>
    <% end %>
    
    </tbody>
    </table>
  </div>
  </div>
 </div>
</div>