<div class="container">
  <div class="row">
    <div class="mx-auto">
      <% if @playlist.errors.any? %>
        <h3><%= @playlist.errors.count %>prohibited this obj from being saved:</h3>
          <ul>
            <% @playlist.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
      <% end %>

      <h1>New playlist</h1>

      <%= form_with model: @playlist, local:true do |f| %>
        <p>Playlist Name</p>
          <%= f.text_field :name %>
        <p>Information</p>
          <%= f.text_area :information %><br>
        <p>Genre</p>
          <%= f.collection_radio_buttons :genre_id, Genre.all, :id, :name %><br>



        <%= f.submit "Create Playlist", class:"btn btn-success w-178px" %><br>
      <% end %>

    </div>
  </div>
</div>
